* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family:inherit;}
input::-ms-clear {display: none;}
button{cursor: pointer;}
button ::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}
/*----------------------------------*/
body {
    margin: 0 auto;
    font-family: "Roboto", "Arial", sans-serif;
}
/*--------header------------------------------------------*/
.header__top {
    padding-top: 30px;
    width: 1157px;
    margin: 0 auto;
    height: 115px;
}
.header {
    background: #E1E1E1;
    height: 355px;
    align-items: center;
}
.menu__list-item {
    margin-left: 30px;
}
.menu__list, .menu__link  {
    display: flex;
}
.header__top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__link--img {
    margin-right: 20px;
}
.menu__link, .menu__link1 {
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}
.menu__link:hover {
    color: #FB565A;
    transition: 0.5s;
}
.menu__link1:hover {
    color: #FB565A;
    transition: 0.5s;
}
.menu__link1 {
    border-bottom: 2px solid #FB565A;;
    padding-bottom: 14px;
}
.header__title-text {
    font-weight: 700;
    font-size: 55px;
}
.header__title {
    padding-left: 200px;
    padding-top: 50px;
}
/*-----------------main----------------------*/
.main__link, .triangle-item {
    text-decoration: none;
    color: #4D4D4D;
    opacity: 50%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: lighter;
}
.main__link:hover {
    opacity: 1;
    transition: color .5s;
}
.triangle-item:hover {
    opacity: 1;
    transition: color .5s;
}
.main__list-item {
    margin-left: 30px;
}
.main__list{
    display: flex;
}

.main__title-text {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 18px 0;
    color: #000;
}
/*--------------container__select----------*/
.container__select {
  width: 260px;
  height: 80px;
  background-color: #E1E1E1;
  display:flex;
  justify-content: center;
  align-items: center;
}
.range {
   width: 205px;
   height: 2px;
   background:  linear-gradient(to right, green 70%, darkgrey 70%);
   position: relative;
}
.first-circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius:20px;
    position: absolute;
    top: -9px;
    left: -5px;

}
.second-circle {
   width: 20px;
   height: 20px;
   background-color: white;
   border-radius:20px;
   position: absolute;
   top: -9px;
   right:50px;
}
.second-circle::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 20px;
    position: absolute;
    background-color: #4D4D4D;
    top: 7px;
    left: 7px;
}
.first-circle::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 20px;
    position: absolute;
    background-color:#4D4D4D;
    top: 7px;
    left: 7px;
}
.select__checked {
    width: 260px;
    display: flex;
    flex-direction: column;
}
.select-value {
    display: flex;
}
.select {
    width: 1157px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.prise_select {
    display: flex;
    justify-content: space-between;
}
.select__checked-form {
    font-size: 16px;
}
.placeholder-text {
    padding-right: 10px;
    margin-top: 22px;
    text-transform: uppercase
}
.select-checkbox {
    position:absolute;
    clip:rect(0 0 0 0);
    overflow:hidden;
}
.select-checkbox+label span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.select-checkbox+label span::before {
    content: '';
    border: 4px solid #4D4D4D;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.select-checkbox:checked + label span::after {
    content: "\2714";
    position: absolute;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    text-shadow: 1px 1px #fff, -1px -1px #fff;
}
.select__label:hover {
    color:black;
    opacity: 1;
    transition: 0.5s;
}
.select__label {
    color: #4D4D4D;
    opacity: 0.5;
    cursor: pointer;
}
.field_select {
    width: 80px;
    height: 38px;
    background-color: #E1E1E1;
    margin-top: 14px;
    text-align: center;
}
.select__button {
    width: 260px;
    height: 50px;
    background-color: #E1E1E1 opacity ;
    cursor:pointer;
    margin-top: 50px;
}
.select__button:hover {
    background-color: #E1E1E1;
    transition: 0.5s;
}
.select__button_text{
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;

}
.main__radio {
    position:absolute;
    clip:rect(0 0 0 0);
    overflow:hidden;
}
.select__radio {
   margin-top: 55px;
}
.main__radio + label span::before {
    content:"";
    width:25px;
    height:25px;
    border-radius:20px;
    position:absolute;
    border:4px solid #4D4D4D;
    left: 0 ;
}
.main__radio:checked + label span::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 20px;
    position: absolute;
    background-color: #4D4D4D;
    left: 7.5px;
    top: 12.5px;
}
.text-radio {
    padding-left: 35px;
    position: relative;
    display: inline-flex;
    align-items: center;
}
.row {
    line-height: 25px;
}
.row-radio {
    line-height: 35px;
}

.main__title{
    display: flex;
    justify-content: space-between;
    width: 756px;
    align-items: center;
    height: 125px;
}
.title-text {
    width: 260px;
    height: 90px;
    align-items: center;
    margin-top: 35px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 756px;
}
.gallery__img {
    margin-bottom: 60px;
    position: relative;
    width: 358px;
    height: 578px;
    border-radius: 3px;
    border-top: 40px solid #EEEEEE;
}
.gallery__img:hover {
    border-top: 40px solid #4D4D4D;
    box-shadow: 0 5px 5px 2px #EEEEEE;
    transition: 0.5s;
}
.gallery__img-popup {
    position: absolute;
    text-align: center;
    height: 231px;
    background-color: #EEEEEE;
    bottom: -40px;
    left: 0;
    right: 0;
    display: none;
    width: 100%;
}
.gallery__img:hover .gallery__img-popup {
    display: block;
    transition: .3s;
    box-shadow: 0 5px 5px 2px #EEEEEE;
}
.gallery__img:before {
    content: '';
    position: absolute;
    top: -28px;
    left: 17px;
    width: 11px;
    height: 11px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background-color: #FFF;
    box-shadow: 24px 0 0 #fff, 47px 0 0 #fff;
}
.pop__cont {
    position: relative;
    top: 38px;
    font-size: 16px;

}
.gallery__text {
  position: relative;
    top: 26px;
}
.popup__gallery {
    margin-top: 80px;
}

/*-----------map---------------------------*/
.butt__link {
    padding: 15px 20px 15px 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #E1E1E1;
    margin-right: 20px;
    text-transform: uppercase;
    color: black;

}
.butt-1 {
    padding: 15px 90px 15px 90px;
}
.section__button_list {
    display:flex;
    justify-content: center;

}
.section__button{
    margin: 40px;
}
.section__map {
    background: url("img/map 1.png");
    width: 1157px;
    height: 416px;
    margin: 0 auto;
}
.map__marker {
    position: relative;
    z-index: 2;
    left: 822px;
    top: 70px;
}
.map__square {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 310px;
    background: white;
    position: relative;
    left: 140px;
    top: -140px;
    align-items: center;
}
.map__but {
    width: 200px;
    height: 50px;
    background: #FB565A;
    border-radius: 3px;
    border: 0;
}
.map__text_address {
    height: 150px;
    text-align: center;
    padding-top: 60px;
}
.map__text1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}
.map__text2 {
    font-size: 16px;
    margin-top: 20px;
}
.map__but {
    margin-top: 40px;
}
/*---------------------footer------------------------------*/
.footer__list-item {
    margin-left: 100px;
}
.footer__list {
    display: flex;
   width: 400px;
}
.footer__list--target {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 30px;
}
.list__item-target {
    background: #E1E1E1;
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    margin-left: -10px;
    transition: background-color .5s;
}
.list__item-target:hover {
    background-color: #FB565A;
}
.target__img1 {
    position: relative;
    left: 25px;
    top: 35px;
}
.target__img2 {
    position: relative;
    left: 35px;
    top: 30px;
}
.target__img3 {
    position: relative;
    left: 30px;
    top: 30px;
}
.footer__text {
    align-self: center;
    width: 600px;
    height: 125px;
    padding-top: 10px;
}
.footer__text-text {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}
.footer__text-sub {
  padding-top: 10px;  
}
.section__footer {
    width: 1157px;
    margin: 0 auto;
}
/*------popup---------------------------*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 4;
    transition: all 0.8s ease 0s;
}
.popup__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.field {
    width: 360px;
    height: 50px;
    padding-left: 15px;
}
.popup__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup__text-message {
    width: 760px;
    height: 116px;
    padding: 15px;
}
.popup__button {
    margin-top: 50px;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    transition: all 0.8s ease 0s;
}
.popup__content {
    background-color: #F1F1F1;
    position: relative;
    padding: 100px;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.popup__close {
    position: absolute;
    right: 100px;
    font-size: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.popup__close:before, .popup__close:after {
    position: absolute;
    content: "";
    height: 33px;
    width: 3px;
    background-color: red;
}
.popup__close:hover {
    opacity: 1;
}
.popup__close:before {
    transform: rotate(45deg);
}
.popup__close:after {
    transform: rotate(-45deg);
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup:target .popup__content {
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
    opacity: 1;
}
.section__text {
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;

}
.popup__message, section__text {
    padding: 15px;
    font-weight: 700;
    margin-left: -15px;
}
/*----------------button-----------*/
.button__text {
    color: #E1E1E1;
    text-decoration: none;
    text-transform: uppercase;
}
