
body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1157px;
    margin: 0 auto;

}
.header__top, .wrapper  {
    background: #E1E1E1;
    width: 1440px;
    height: 545px;
    margin: 0 auto;
}
/*--------header------------------------------------------*/
.header__top {
    padding-top: 30px;
}
.menu__list-item {
    list-style-type: none;
    margin-left: 30px;
}
.menu__list, .menu  {
    display: flex;
}
.header__top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__link--img {
    margin-right: 20px;
}
.menu__link {
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

/*------main__content-------------------------------------*/

.content_title {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}
.button__link--main {
    width: 240px;
    height: 50px;
    background: #FB565A;
    border: 0;
    margin-top: 30px;
    border-radius: 3px;

}
.button__text {
    color: #E1E1E1;
    text-decoration: none;
    text-transform: uppercase;
}
/*-------------------slider-----------------------*/
.sliders {
    hposition:relative;
    width:700px;
    text-align:start;
}

.slider__check {
    position:absolute;
    clip:rect(0 0 0 0);
    overflow:hidden;
}

.slider__div {
    display:flex;
    position:absolute;
    top:143px;
    left:260px;
}

.slider__label {
    position:relative;
    flex-direction: row;
    margin-left:30px;
}
.slider__label::before{
    content:"";
    width:20px;
    height:20px;
    border-radius:20px;
    border:2px solid black;
    position:absolute;
    z-index: 3;
    top:-106px;
    left:593px;
}

.slider__check:checked + .slider__label::after{
    content:"";
    width:10px;
    height:10px;
    border-radius:20px;
    background:gray;
    position:absolute;
    top:-100px;
    left:600px;
    z-index: 3;
}

/* Display */
.slider__div {
    display:none;
}
.slider__check:checked + .slider__label + .slider__div {
    display:flex;

}

/* Current */
.slider__check:checked + .slider__label {
    background:#C00;
}
.slider_text {
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
}

/*-----------section__img__button----------------------------------------*/

.container__section--pink, .container__section--green, .container__section--yellow {
    display: flex;
    flex-direction: column;
}
.container__img__button {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    border-bottom: solid 2px #E1E1E1;
    padding-bottom: 60px;
    height: 450px;
}
.section__img-img {
    width: 300px;
    height: 146px;
}
.button__link--green {
    background: #00CA74;
}
.button__link--pink {
    background: #FB565A;
}
.button__link--yellow {
    background: #EFC849;
}
.button__link--green, .button__link--pink, .button__link--yellow {
    width: 160px;
    height: 50px;
    border: 0;
    border-radius: 3px;
    margin-top: 10px;
}
.container__img--number {
    Font-size: 45px;
    font-weight: bold;
    margin: auto;
}
.section__img-text {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
/*----------section text__img-------------------------------------*/
.container__img-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container__text_img {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 35px 0;
}
.section__text--number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}
.section__text {
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
}
.section__text-sub--list {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 25px;
    padding: 22px 0 20px 0;
}
.list__item:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #FB565A;
    margin: 20px 10px 5px;
    text-align: start;
}
.section__text_img-box {
    text-align: start;
}

/*------------section picture__img---------------------------------*/
.section__picture_img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    border-bottom: solid 2px #E1E1E1;
    border-top: solid 2px #E1E1E1;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.block-vert-line:before {
    border-left: 2px solid #E1E1E1;
    content: " ";
    width: 2px;
    height: 50px;
    float: left;
}
.picture__img  {
    opacity: 50%;
}
/*-----------map---------------------------*/
.section__map {
    background: url("img/map 1.png");
    width: 1440px;
    height: 416px;
    margin: 0 auto;
    position: 50%;
}
.map__marker {
    position: relative;
    z-index: 2;
    left: 822px;
    top: 70px;
}
.map__square {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 320px;
    background: white;
    position: relative;
    left: 140px;
    top: -140px;
    align-items: center;
}
.map__but {
    width: 200px;
    height: 50px;
    background: #FB565A;
    border-radius: 3px;
    border: 0;
}
.map__text_address {
    height: 150px;
    text-align: center;
    padding-top: 60px;
}
/*---------------------footer------------------------------*/
.footer__list-item {
    margin-left: 100px;
    list-style-type: none;
}
.footer__list {
    display: flex;
    justify-content: space-between;
}
.footer__list--target {
    display: flex;
    justify-content: space-between;
    padding-top: 500px;
    padding-bottom: 30px;
    margin-left: 80px;
}
.list__item-target {
    background: #E1E1E1;
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
}
.target__img1 {
    position: relative;
    left: 25px;
    top: 35px;
}
.target__img2 {
    position: relative;
    left: 35px;
    top: 30px;
}
.target__img3 {
    position: relative;
    left: 30px;
    top: 30px;
}
.footer__text {
    align-items: center;
    width: 850px;
}
.footer__text-text {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}
.map__text1 {
    font-weight: bold;
    size: 18px;
    line-height: 30px;
}



